{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter Clone - ReTTiwT </title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
 {% if request.session.user_id %}
    <nav class="nav flex-column">
        <a class="nav-link active" href="{% url 'twc:home' %}">Home</a>
        <a class="nav-link" href="#">Explore</a>
        <a class="nav-link" href="#">Notifications</a>
        <a class="nav-link" href="#">Messages</a>
        <a class="nav-link" href="#">Bookmarks</a>
        <a class="nav-link" href="#">Lists</a>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">More</a>
        <a class="nav-link" href="{% url 'twc:tweet' %}"><div class="btn btn-primary">Tweet</div></a>
    </nav>
 {% endif %}

    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>