{% extends 'twc/base.html' %}
{% load static %}
{% block content %}

<div class="">
    {% for tweet in list %}
    <div class="media">
        <img src="/media/{{tweet.user_prof_pic}}" class="mr-3 rounded-lg" alt="...">
        <div class="media-body">
            <h5 class="mt-0"> {{ tweet.user_nm }}
                <span>@{{ tweet.user }}</span>
            </h5>
            {{ tweet.tw_content }}
        {% if tweet.image %}
            <img src="/media/{{ tweet.image }}">
        {% endif %}
<!--             {% for queryset in image_list %}-->
<!--                {% for image in queryset %}-->
<!--                    {% if tweet.id == image.tweet_id %}-->
<!--                    {% endif %} -->
<!--                {% endfor %}-->
<!--            {% endfor %}-->
            <p>{{ tweet.updated_at|date:"Y-m-d" }}</p>
        {% if request.session.id == tweet.user_id %}
            <a href="{% url 'twc:update' id=tweet.id %}">
                <button type="submit" class="btn btn-info"> 수정하기 </button>
            </a>
            <a href="{% url 'twc:delete' id=tweet.id %}">
                <button type="submit" class="btn btn-danger"> 삭제하기 </button>
            </a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}