{% extends 'twc/base.html' %}
{% load static %}
<div class="container">
    <form action="{% url 'twc:join' %}" method="POST">
        {% csrf_token %}
        <div>
            <label> 아이디 </label>
            <input type="text" name="user_id" placeholder="ex) gildong_hong" class="">
        </div>
        <div>
            <label> 닉네임 </label>
            <input type="text" name="user_nm" placeholder="ex) 홍길동" class="">
        </div>
        <div>
            <label> 이메일 </label>
            <input type="email" name="user_email" placeholder="ex) gildong@gmail.com" class="">
        </div>
        <div>
            <label> 비밀번호 </label>
            <input type="password" name="user_pwd" placeholder="영문+숫자 조합, 8자리 이상" class="">
        </div>
        
        <button type="submit" class="btn btn-primary"> 가입 </button>
    </form>
</div>
<script src="{% static 'js/join.js' %}"></script>
