{% extends 'twc/base.html' %}
{% load static %}
<div class="container">
    <form action="{% url 'twc:tweet' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user" class="">
        <div>
            <textarea name="tw_content" class="" maxlength="140"></textarea>
        </div>
        <!--imageform 사용해서 multiple 하고 싶은데.. 구글링해도 1개를 여러번 올리는 방법밖에 안나와서 일단..-->
        <div>
            <input type="file" name="images" multiple>
        </div>
        <button type="submit" class="btn btn-primary"> 글쓰기 </button>
    </form>
</div>

<script>
    let user_id = document.getElementById('{{ form.user.id_for_label }}')
    user_id.value = '{{ request.session.id}}'
    console.log(user_id.value);

</script>

