{% extends 'twc/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form name="tweet_form" id="tweet_form" action="{% url 'twc:tweet' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user" id="user_id">
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="tw_content" class="form-control tw_content" id="exampleFormControlTextarea1" rows="3" maxlength="140"></textarea>
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlFile1"></label>
            <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1" multiple>
        </div>
       
        <button type="button" class="btn btn-primary btn_submit"> 글쓰기 </button>
    </form>
</div>
<script src="{% static 'js/tweet.js' %}"></script>
<script>
    let user_id = document.querySelector('#user_id');
    user_id.value = `{{ request.session.id}}`
    console.log(user_id.value);

</script>
{% endblock %}
