{% extends 'twc/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="{% url 'twc:tweet' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary"> 글쓰기 </button>
    </form>
</div>
{{ request.session.user_id }}
{{ request.session.id }}
<script>
    let user_id = document.getElementById('{{ form.user_id.id_for_label }}')
    user_id.value = '{{ request.session.id}}'
    console.log(user_id.value);

</script>
{% endblock %}

