{% extends 'twc/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form id="update_form" name="update_form" action="{% url 'twc:update' id=id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user" id="user_id" value="{{ form.user.value }}">
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="tw_content" class="form-control tw_content" id="exampleFormControlTextarea1" rows="3" maxlength="140">{{form.tw_content.value}}</textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1"></label>
            <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1" multiple>
            {{ image }} <!--input type file 은 readonly -->
        </div>

        <button type="button" class="btn btn-primary btn_submit"> 글수정 </button>
    </form>
</div>
<script src="{% static 'js/tweet.js' %}"></script>
{% endblock %}

